@page "{handler?}"
@model StudentLoanSystem.Data.AccountData
@{



    @functions{
        public void OnGet() { }

        public async Task<IActionResult> OnPostLoginAsync(Data.Users.BaseUser m)
        {
            // Data.AccountData AccData
            if (Data.AccountData.CheckLogin(m))
            {

                switch (m.Id)
                {
                    //userType 1
                    case 1:
                        return RedirectToPage("UserPages/StudentView", Data.AccountData.CreateUser(m.Username, m.Id) );
                    //userType 2
                    case 2:
                        return RedirectToPage("UserPages/LoanOfficerView", Data.AccountData.CreateUser(m.Username, m.Id) );
                    //userType 3
                    case 3:
                        return RedirectToPage("UserPages/RegistarView", Data.AccountData.CreateUser(m.Username, m.Id) );
                    default:
                        return RedirectToPage("Index");
                }


            }
            else
            {
                //System.Diagnostics.Debug.WriteLine(m.Username + " " + m.Id + " " + m.Password);
                return RedirectToPage("Index");
            }


        }




    }
}


<!--<h2>Home Page</h2>-->



<partial name="_LoginPage" />



<!--

    index body content, the navbar is located _Layout.cshtml

-->
<br />
<br />
<br />

