@page
@model IndexModel
@{
    //
}
<html lang="en">
<head>
    <title>Loan Management</title>
    <meta charset="utf-8" />
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        .row {
            margin-left: 5px;
            margin-right: 5px;
        }

        .div {
            height: 100px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        table {
            overflow-y: scroll;
            border-spacing: 0;
            width: 50%;
            max-width: 100%;
            height: 100px;
            max-height: 100px;
            border: 1px solid #ddd;
            display: table;
        }

            table tbody {
                display: block;
                max-height: 300px;
                overflow-y: scroll;
            }

                table thead, table tbody tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <p>Reviewed Loans</p>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Loan Request</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Jill Smith</td>
            <td>{Loan}</td>
            <td>Denied</td>
        </tr>
        <tr>
            <td>Eve Jackson</td>
            <td>{Loan}</td>
            <td>Denied</td>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>{Loan}</td>
            <td>Approved</td>
        </tr>
    </table>
    <p>Loans Avaiable for Review</p>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Loan Request</th>
            <th>Approve</th>
        </tr>
        <tr>
            <td>Jill Smith</td>
            <td>{Loan Information}</td>
            <td style="text-align:left;">
                <input type="checkbox" name="name1" />&nbsp;
            </td>
        </tr>
        <tr>
            <td>Eve Jackson</td>
            <td>{Loan Information}</td>
            <td style="text-align:left;">
                <input type="checkbox" name="name1" />&nbsp;
            </td>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>{Loan Information}</td>
            <td style="text-align:left;">
                <input type="checkbox" name="name1" />&nbsp;
            </td>
        </tr>
    </table>
    <button type="button">Submit Approvals</button>
    <p>Student Contact Information</p>
    <table style="width:100%;margin-bottom: 2.5em;">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>E-mail</th>
        </tr>
        <tr>
            <td>Jill Smith</td>
            <td>7777777777</td>
            <td>smith@mail.com</td>
        </tr>
        <tr>
            <td>Eve Jackson</td>
            <td>9999999999</td>
            <td>jack@mail.com</td>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>5555555555</td>
            <td>doe@mail.com</td>
        </tr>
    </table>
</body>
</html>
